# Discord bot configuration
DISCORD_TOKEN=your_discord_token_here

# Discord data configuration
DISCORD_ADMIN_ROLE_ID=your_discord_admin_role_here

# OpenAI API configuration
# Not used in this version, but kept for reference
OPENAI_API_KEY=your_openai_api_key_here

# Ollama API configuration
# Check your ollama version for the correct URL
OLLAMA_URL=http://ollama:11434/api/chat

# Database configuration
POSTGRES_DB=your_database_name_here
POSTGRES_USER=your_database_user_here
POSTGRES_PASSWORD=your_database_password_here
POSTGRES_HOST=db
POSTGRES_PORT=5432